:root {
    --primary-color: #0f2a36;
    --secondary-color: #1b3b47;
    --accent1-color: #06594f;  
    --accent2-color: #e7b75f;

    --heading-font: "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #ffffff;
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

footer {
    background-color: var(--secondary-color);
}

header img {
    height: 60px;
}

header nav a:hover {
    color: #ffffff;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 32px;
    margin-left: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 16px;
    border-radius: 8px;
}

.hero article img {
    float: right;
    width: 125px;
}