:root {
    --primary-color: #6e7a64;
    --secondary-color: #d7b589;
    --accent1-color: #2a2a2a;
    --accent2-color: #f5efe7;

    --heading-font: "Georgia", "Times New Roman", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--accent2-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
}

header nav a:hover {
    color: var(--secondary-color);
}

header img {
    height: 60px;
}

h1, h2 {
    font-family: var(--heading-font);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    color: white;
    opacity: 1;
    background-color: black;
}

h2 {
    padding: 5px;
    background-color: var(--secondary-color);
    color: black;
    text-align: center;
    border-radius: 4px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia img {
    width: 32px;
    margin-left: 8px;
}

.hero {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px;
    background: #c9b28e;
}

.hero-image {
    position: relative; /* IMPORTANTE */
}

.hero-image img {
    width: 600px;
    border-radius: 8px;
    display: block;
}

/* Card sobreposto */
.hero-card {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 350px;
    background: #6e7a69;
    padding: 25px 35px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.hero-card h2 {
    background: #d8ad79;
    color: black;
    padding: 10px;
    border-radius: 6px;
    margin-top: 0;
    text-align: center;
}

.hero-card button {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background: #f2e6d0;
    cursor: pointer;
}




footer {
    border-top: 2px solid var(--primary-color);
    color: var(--accent1-color);
    text-align: center;
    padding: 20px 0;
}
