nav {
    background-color: 333;
    padding: 20px;
    display: block;
}

main {
    max-width: 100%;
}

h1 {
    color: black;
}

main img {
    width: 350px;
    height: 350px;
    border: grey;
    padding: 10px;
    box-shadow: 1.5rem;
}

aside {
    width: 500px;
    height: 350px;
    border: grey;
    padding: 10px;
    background-color: grey;
    color:black;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: 10px;
    text-align: center;
}