* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */


main{
    max-width: 800px;
}

aside{
    width: 20rem;
    text-align: center;
    position: relative;
}

header {
    background-color: steelblue;
    padding: 10px;
}

nav{
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

aside img{
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 35px;
    left: 115px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000; 
}
